# Shivang Arya
# Rutwick Bhawsar
# Project 1 : Summer 2019

We have created 6 tables for our application. Please refer the ER Diagram below.
We have written 15 major functions in Python for our SQLite Database.
These are the 15 functions: 
 1. Add user 
 2. Create Event 
 3. Register user for event 
 4. Remove event (admin only) 
 5. Show timeslots for a venue 
 6. Show venues for a timeslot
 7. Show events for a venue at a given date and time
 8. Add venue (admin only) 
 9. Show events of a particular type 
 10. Show events near a zip code 
 11. Show all events at a particular date&time 
 12. Show all people registered for an event (event creator only)
 13. Delete user (Admin only) 
 14. Unregister from Event 
 15. Show Venues near a Zipcode 15

Along with this we have also created a mini-interface at the very end of the Notebook. Please feel free to use that to interact with our tables and functions as well.

![ERD](Project1ERDiagram.jpg)

In [2]:
import sqlite3
import pandas as pd
import csv

In [3]:
db=sqlite3.connect("C:/Users/aryas_000/Advanced-Programming-and-App-Development/Project1.db")

In [4]:
cursor = db.cursor()

In [22]:
cursor.execute(('''    CREATE TABLE if NOT EXISTS Venue (venueid INTEGER PRIMARY KEY, venuename TEXT,
                       location TEXT, zipcode INTEGER, fees INTEGER) '''))

In [ ]:
db.commit()

In [24]:
cursor.execute('''select * from venue''')
p1 = cursor.fetchall() #retrieve the first row
for m in p1:
    print(m)

(1, 'Zilker Park', ' 2100 Barton Springs Rd, Austin, TX ', 78704, 0)
(2, 'UT Intramural Fields', ' 4901 Guadalupe St, Austin, TX ', 78751, 12)
(3, 'Hancock Recreation Centre', ' 811 E 41st St, Austin, TX ', 78751, 0)
(4, 'Eastwoods Neighborhood Park', ' 3001 Harris Park Ave, Austin, TX ', 78705, 5)
(5, 'Pease District Park', ' 31100 Kingsbury St, Austin, TX  ', 78705, 7)
(6, 'Westenfield Neighborhood Park', ' 2008 Enfield Rd, Austin, TX   ', 78703, 0)
(7, 'Emma Long Metropolitan Park', ' 1600 City Park Rd, Austin, TX  ', 78730, 20)
(8, 'Stoney Creek Park', 'Sebastian Bend, Pflugerville, TX', 78660, 0)
(9, 'Little Walnut Creek Greenbelt', '5100 E 51st St, Austin, TX ', 78723, 12)
(10, 'Caven Lacrosse and Sports Center at Clark Field', '1910 San Jacinto Boulevard, Austin, TX', 78712, 0)
(11, 'Waterloo Neighborhood Park', '500 E 12th St, Austin, TX', 78701, 5)
(12, 'Longview Neighborhood Park', '7609 Longview Rd, Austin, TX', 78745, 2)
(13, 'Mary Moore Searight Metropolitan Park', '907 West Slaughter Lane, Austin, TX', 78748, 2)
(14, 'Circle C Ranch Metropolitan Park on Slaughter Creek', '6301 W Slaughter Ln, Austin, TX', 78739, 10)
(18, 'Duval Villas', '4305 Duval St, Austin, TX', 78751, 400)
(19, 'Boggy Creek Greenbelt', '1114 Nile St, Austin, TX', 78702, 0)

In [32]:
cursor.execute(('''    CREATE TABLE IF NOT EXISTS Users(email text PRIMARY KEY, name TEXT, sname TEXT, password integer,
                       zipcode INTEGER, phone TEXT, etype1 text, etype2 text default null , etype3 text default null) '''))

In [25]:
db.commit()

In [11]:
cursor.execute(''' CREATE TABLE if not exists Admin(name text, email text, FOREIGN KEY(email) REFERENCES users(email))''')

In [12]:
e = 'rutwickbhawsar@gmail.com'
n = 'Rutwick'
s = 'Bhawsar'
p = 7612
zipcode = 78705
pho = 9174121235
etpe= 'football'
ett = 'basketball'
ettt = 'tennis'



cursor.execute('''Insert or replace into Users (email,name,sname,password,zipcode,phone,etype1,etype2,etype3) values (?,?,?,?,?,?,?,?,?)''',(e,n,s,p,zipcode,pho,etpe,ett,ettt))

In [237]:
with open('C:/Users/aryas_000/Downloads/Users.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    for row in readCSV:
        pi = int(row[3])
        zp = int(row[4]) 
        ph = int(row[5]) 
        cursor.execute("INSERT or REPLACE INTO Users (email,name,sname,password,zipcode,phone,etype1,etype2,etype3) VALUES (?,?,?,?,?,?,?,?,?)", [row[0],row[1],row[2],pi,zp,ph,row[6],row[7],row[8]])

In [188]:
db.commit()

In [238]:
cursor.execute('''select * from users''')
p1 = cursor.fetchall() #retrieve the first row
for m in p1:
    print(m)

('shivangarya@gmail.com', 'Shivang', 'Arya', 1210, 78710, '-1534', 'football', 'tennis', 'badminton')
('rutwickbhawsar@gmail.com', 'Rutwick', 'Bhawsar', 7612, 78705, '9174121235', 'football', 'basketball', 'tennis')
('tmuller@bayern.net', 'Thomas', 'Muelles', 4124, 78710, '9013331123', 'football', 'Cricket', 'Basketball')
('luisg@embraer.com.br', 'Lu¡s', 'Gon‡alves', 4564, 78794, '3932638841', 'Football', 'Badminton', 'Baseball')
('leonekohler@surfeu.de', 'Leonie', 'K”hler', 4217, 78728, '2595995925', 'Hockey', 'Skateboarding', 'Running')
('ftremblay@gmail.com', 'Fran‡ois', 'Tremblay', 4311, 78740, '8562383794', 'Rugby', 'Running', 'Baseball')
('bjorn.hansen@yahoo.no', 'Bj?rn', 'Hansen', 5231, 78721, '6896848029', 'Kayaking', 'Basketball', 'Rugby')
('frantisekw@jetbrains.com', 'Franti?ek', 'Wichterlov\xa0', 9261, 78733, '4615969574', 'Hockey', 'Football', 'Football')
('hholy@gmail.com', 'Helena', 'Hol?', 4311, 78755, '5125491222', 'Rugby', 'Cycling', 'Swimming')
('astrid.gruber@apple.at', 'Astrid', 'Gruber', 9670, 78776, '7871257717', 'Baseball', 'Volleyball', 'Kayaking')
('daan_peeters@apple.be', 'Daan', 'Peeters', 7194, 78764, '6753205279', 'Climbing', 'Tennis', 'Football')
('kara.nielsen@jubii.dk', 'Kara', 'Nielsen', 2445, 78770, '8160395200', 'Volleyball', 'Cycling', 'Basketball')
('eduardo@woodstock.com.br', 'Eduardo', 'Martins', 5995, 78792, '7755094765', 'Climbing', 'Basketball', 'Football')
('alero@uol.com.br', 'Alexandre', 'Rocha', 8021, 78714, '1650616699', 'Climbing', 'Tennis', 'Skateboarding')
('roberto.almeida@riotur.gov.br', 'Roberto', 'Almeida', 5015, 78709, '9090050881', 'Running', 'Basketball', 'Kayaking')
('fernadaramos4@uol.com.br', 'Fernanda', 'Ramos', 8273, 78786, '2994608290', 'Volleyball', 'Hockey', 'Climbing')
('mphilips12@shaw.ca', 'Mark', 'Philips', 7603, 78711, '1594797734', 'Rugby', 'Football', 'Kayaking')
('jenniferp@rogers.ca', 'Jennifer', 'Peterson', 5156, 78798, '7979577695', 'Hockey', 'Kayaking', 'Running')
('fharris@google.com', 'Frank', 'Harris', 4764, 78765, '8640059952', 'Running', 'Gym', 'Cycling')
('jacksmith@microsoft.com', 'Jack', 'Smith', 7170, 78701, '3828010298', 'Basketball', 'Tennis', 'Gym')
('michelleb@aol.com', 'Michelle', 'Brooks', 7450, 78790, '2018557287', 'Badminton', 'Volleyball', 'Kayaking')
('tgoyer@apple.com', 'Tim', 'Goyer', 6739, 78705, '8240958758', 'Volleyball', 'Hockey', 'Cycling')
('dmiller@comcast.com', 'Dan', 'Miller', 8872, 78779, '8245505363', 'Football', 'Rugby', 'Tennis')
('kachase@hotmail.com', 'Kathy', 'Chase', 5158, 78776, '1118183300', 'Swimming', 'Baseball', 'Volleyball')
('hleacock@gmail.com', 'Heather', 'Leacock', 1948, 78792, '4147811296', 'Baseball', 'Kayaking', 'Football')
('johngordon22@yahoo.com', 'John', 'Gordon', 5345, 78721, '1135420565', 'Swimming', 'Hockey', 'Gym')
('fralston@gmail.com', 'Frank', 'Ralston', 2800, 78723, '6213838935', 'Basketball', 'Volleyball', 'Skateboarding')
('vstevens@yahoo.com', 'Victor', 'Stevens', 5422, 78759, '7780542508', 'Running', 'Hockey', 'Baseball')
('ricunningham@hotmail.com', 'Richard', 'Cunningham', 1898, 78799, '2662287069', 'Football', 'Kayaking', 'Gym')
('patrick.gray@aol.com', 'Patrick', 'Gray', 3354, 78732, '1563951033', 'Hockey', 'Gym', 'Volleyball')
('jubarnett@gmail.com', 'Julia', 'Barnett', 1209, 78716, '5448547797', 'Badminton', 'Swimming', 'Running')
('robbrown@shaw.ca', 'Robert', 'Brown', 2044, 78741, '8463648558', 'Baseball', 'Volleyball', 'Badminton')
('edfrancis@yachoo.ca', 'Edward', 'Francis', 2913, 78759, '8340478419', 'Tennis', 'Rugby', 'Hockey')
('marthasilk@gmail.com', 'Martha', 'Silk', 7383, 78731, '8107710781', 'Hockey', 'Tennis', 'Badminton')
('aaronmitchell@yahoo.ca', 'Aaron', 'Mitchell', 5493, 78785, '7551434416', 'Badminton', 'Football', 'Gym')
('ellie.sullivan@shaw.ca', 'Ellie', 'Sullivan', 5017, 78716, '9060922108', 'Volleyball', 'Climbing', 'Football')
('jfernandes@yahoo.pt', 'Jo?o', 'Fernandes', 8562, 78729, '2960963270', 'Tennis', 'Gym', 'Skateboarding')
('masampaio@sapo.pt', 'Madalena', 'Sampaio', 5683, 78707, '4630765478', 'Baseball', 'Running', 'Climbing')
('hannah.schneider@yahoo.de', 'Hannah', 'Schneider', 8916, 78757, '4755658475', 'Kayaking', 'Hockey', 'Badminton')
('fzimmermann@yahoo.de', 'Fynn', 'Zimmermann', 6421, 78706, '1719282247', 'Basketball', 'Rugby', 'Gym')
('nschroder@surfeu.de', 'Niklas', 'Schr”der', 3027, 78799, '7384186553', 'Basketball', 'Basketball', 'Football')
('camille.bernard@yahoo.fr', 'Camille', 'Bernard', 8535, 78712, '9872450551', 'Swimming', 'Gym', 'Badminton')
('dominiquelefebvre@gmail.com', 'Dominique', 'Lefebvre', 1278, 78754, '3062244031', 'Volleyball', 'Badminton', 'Gym')
('marc.dubois@hotmail.com', 'Marc', 'Dubois', 4772, 78782, '4908693572', 'Rugby', 'Badminton', 'Volleyball')
('wyatt.girard@yahoo.fr', 'Wyatt', 'Girard', 1325, 78755, '6520760365', 'Volleyball', 'Running', 'Rugby')
('isabelle_mercier@apple.fr', 'Isabelle', 'Mercier', 3458, 78719, '8878378517', 'Kayaking', 'Football', 'Running')
('terhi.hamalainen@apple.fi', 'Terhi', 'H„m„l„inen', 4155, 78776, '3412792186', 'Badminton', 'Baseball', 'Basketball')
('ladislav_kovacs@apple.hu', 'Ladislav', 'Kov\xa0cs', 1690, 78764, '6628859745', 'Skateboarding', 'Running', 'Hockey')
('hughoreilly@apple.ie', 'Hugh', "O'Reilly", 8808, 78793, '4061951562', 'Skateboarding', 'Basketball', 'Volleyball')
('lucas.mancini@yahoo.it', 'Lucas', 'Mancini', 4379, 78700, '2587152247', 'Basketball', 'Basketball', 'Baseball')
('johavanderberg@yahoo.nl', 'Johannes', 'Van der Berg', 5141, 78759, '2536930185', 'Rugby', 'Gym', 'Baseball')
('stanis?aw.w¢jcik@wp.pl', 'Stanis?aw', 'W¢jcik', 2475, 78790, '8014770483', 'Basketball', 'Climbing', 'Baseball')
('enrique_munoz@yahoo.es', 'Enrique', 'Mu¤oz', 1176, 78732, '6021833914', 'Running', 'Badminton', 'Cycling')
('joakim.johansson@yahoo.se', 'Joakim', 'Johansson', 7817, 78719, '6701138458', 'Badminton', 'Running', 'Football')
('emma_jones@hotmail.com', 'Emma', 'Jones', 3459, 78759, '4212911072', 'Baseball', 'Running', 'Rugby')
('phil.hughes@gmail.com', 'Phil', 'Hughes', 7819, 78782, '6973307290', 'Badminton', 'Kayaking', 'Hockey')
('steve.murray@yahoo.uk', 'Steve', 'Murray', 8282, 78770, '3172088577', 'Kayaking', 'Badminton', 'Rugby')
('mark.taylor@yahoo.au', 'Mark', 'Taylor', 6391, 78745, '8234622007', 'Gym', 'Swimming', 'Basketball')
('diego.gutierrez@yahoo.ar', 'Diego', 'Guti‚rrez', 5724, 78721, '2343371575', 'Swimming', 'Climbing', 'Cycling')
('luisrojas@yahoo.cl', 'Luis', 'Rojas', 4673, 78777, '3689273108', 'Kayaking', 'Rugby', 'Hockey')
('manoj.pareek@rediff.com', 'Manoj', 'Pareek', 5806, 78797, '8836746727', 'Kayaking', 'Skateboarding', 'Basketball')
('puja_srivastava@yahoo.in', 'Puja', 'Srivastava', 1668, 78776, '5736045704', 'Climbing', 'Basketball', 'Football')

In [16]:
na = 'Rutwick Bhawsar'
em = 'rutwickbhawsar@gmail.com'
cursor.execute('''Insert or replace into Admin (name,email) values (?,?)''',(na,em))

In [18]:
db.commit()

In [5]:
# 1
# Function to add a new user
# Simply insert into Users table

def new_user(email,name,sname,password,zipcode,phone,etype1,etype2="",etype3=""):
    cursor = db.cursor()
    cursor.execute('''Insert or replace into Users (email,name,sname,password,zipcode,phone,etype1,etype2,etype3) values (?,?,?,?,?,?,?,?,?)''',(email,name,sname,password,zipcode,phone,etype1,etype2,etype3))
    db.commit()

In [22]:
new_user("tmuller@bayern.net","Thomas","Muelles",4124,78710,9013331123,"football","Cricket","Basketball")

In [23]:
cursor.execute(('''    CREATE TABLE if not exists VenueSlots(slot Integer, datetime datetime, venueid INTEGER, availability INTEGER, eventid INTEGER default null, primary key (datetime,venueid),foreign key(eventid) references events(eventid),foreign key(venueid) references venue(venueid))'''))

In [147]:
from datetime import datetime

with open('E:/Usr/UT_APAD/projecttable.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    for row in readCSV:
        rp = int(row[0])
        zp = int(row[2])
        ph = int(row[3])
        cursor.execute("INSERT or REPLACE INTO venueslots (slot,datetime,venueid,availability) VALUES (?,?,?,?)", [rp,row[1],zp,ph])

In [73]:
pp = cursor.execute('''select * from venueslots''')
for m in pp:
    print(m)

(1, '2019-08-01 08:00:00', 1, 1, None)
(2, '2019-08-01 09:00:00', 1, 1, None)
(3, '2019-08-01 10:00:00', 1, 1, None)
(4, '2019-08-01 11:00:00', 1, 1, None)
(5, '2019-08-01 12:00:00', 1, 1, None)
(6, '2019-08-01 13:00:00', 1, 1, None)
(1, '2019-08-02 08:00:00', 1, 1, None)
(2, '2019-08-02 09:00:00', 1, 1, None)
(3, '2019-08-02 10:00:00', 1, 1, None)
(4, '2019-08-02 11:00:00', 1, 1, None)
(5, '2019-08-02 12:00:00', 1, 1, None)
(6, '2019-08-02 13:00:00', 1, 1, None)
(1, '2019-08-01 08:00:00', 2, 1, None)
(2, '2019-08-01 09:00:00', 2, 1, None)
(3, '2019-08-01 10:00:00', 2, 1, None)
(4, '2019-08-01 11:00:00', 2, 1, None)
(5, '2019-08-01 12:00:00', 2, 1, None)
(6, '2019-08-01 13:00:00', 2, 1, None)
(1, '2019-08-02 08:00:00', 2, 1, None)
(2, '2019-08-02 09:00:00', 2, 1, None)
(3, '2019-08-02 10:00:00', 2, 1, None)
(4, '2019-08-02 11:00:00', 2, 1, None)
(5, '2019-08-02 12:00:00', 2, 1, None)
(6, '2019-08-02 13:00:00', 2, 1, None)
(1, '2019-08-01 08:00:00', 3, 1, None)
(2, '2019-08-01 09:00:00', 3, 1, None)
(3, '2019-08-01 10:00:00', 3, 1, None)
(4, '2019-08-01 11:00:00', 3, 0, 6)
(5, '2019-08-01 12:00:00', 3, 0, 6)
(6, '2019-08-01 13:00:00', 3, 0, 6)
(1, '2019-08-02 08:00:00', 3, 1, None)
(2, '2019-08-02 09:00:00', 3, 1, None)
(3, '2019-08-02 10:00:00', 3, 1, None)
(4, '2019-08-02 11:00:00', 3, 1, None)
(5, '2019-08-02 12:00:00', 3, 1, None)
(6, '2019-08-02 13:00:00', 3, 1, None)
(1, '2019-08-01 08:00:00', 4, 1, None)
(2, '2019-08-01 09:00:00', 4, 1, None)
(3, '2019-08-01 10:00:00', 4, 0, 6)
(4, '2019-08-01 11:00:00', 4, 0, 6)
(5, '2019-08-01 12:00:00', 4, 0, 6)
(6, '2019-08-01 13:00:00', 4, 1, None)
(1, '2019-08-02 08:00:00', 4, 0, 5)
(2, '2019-08-02 09:00:00', 4, 0, 5)
(3, '2019-08-02 10:00:00', 4, 1, None)
(4, '2019-08-02 11:00:00', 4, 1, None)
(5, '2019-08-02 12:00:00', 4, 1, None)
(6, '2019-08-02 13:00:00', 4, 1, None)
(1, '2019-08-01 08:00:00', 5, 1, None)
(2, '2019-08-01 09:00:00', 5, 1, None)
(3, '2019-08-01 10:00:00', 5, 1, None)
(4, '2019-08-01 11:00:00', 5, 0, 7)
(5, '2019-08-01 12:00:00', 5, 0, 7)
(6, '2019-08-01 13:00:00', 5, 1, None)
(1, '2019-08-02 08:00:00', 5, 1, None)
(2, '2019-08-02 09:00:00', 5, 1, None)
(3, '2019-08-02 10:00:00', 5, 1, None)
(4, '2019-08-02 11:00:00', 5, 0, 8)
(5, '2019-08-02 12:00:00', 5, 0, 8)
(6, '2019-08-02 13:00:00', 5, 1, None)
(1, '2019-08-01 08:00:00', 6, 1, None)
(2, '2019-08-01 09:00:00', 6, 1, None)
(3, '2019-08-01 10:00:00', 6, 1, None)
(4, '2019-08-01 11:00:00', 6, 1, None)
(5, '2019-08-01 12:00:00', 6, 1, None)
(6, '2019-08-01 13:00:00', 6, 1, None)
(1, '2019-08-02 08:00:00', 6, 1, None)
(2, '2019-08-02 09:00:00', 6, 1, None)
(3, '2019-08-02 10:00:00', 6, 1, None)
(4, '2019-08-02 11:00:00', 6, 1, None)
(5, '2019-08-02 12:00:00', 6, 1, None)
(6, '2019-08-02 13:00:00', 6, 1, None)
(1, '2019-08-01 08:00:00', 7, 1, None)
(2, '2019-08-01 09:00:00', 7, 1, None)
(3, '2019-08-01 10:00:00', 7, 1, None)
(4, '2019-08-01 11:00:00', 7, 1, None)
(5, '2019-08-01 12:00:00', 7, 1, None)
(6, '2019-08-01 13:00:00', 7, 1, None)
(1, '2019-08-02 08:00:00', 7, 1, None)
(2, '2019-08-02 09:00:00', 7, 1, None)
(3, '2019-08-02 10:00:00', 7, 1, None)
(4, '2019-08-02 11:00:00', 7, 1, None)
(5, '2019-08-02 12:00:00', 7, 1, None)
(6, '2019-08-02 13:00:00', 7, 1, None)
(1, '2019-08-01 08:00:00', 8, 1, None)
(2, '2019-08-01 09:00:00', 8, 1, None)
(3, '2019-08-01 10:00:00', 8, 1, None)
(4, '2019-08-01 11:00:00', 8, 1, None)
(5, '2019-08-01 12:00:00', 8, 1, None)
(6, '2019-08-01 13:00:00', 8, 1, None)
(1, '2019-08-02 08:00:00', 8, 1, None)
(2, '2019-08-02 09:00:00', 8, 1, None)
(3, '2019-08-02 10:00:00', 8, 1, None)
(4, '2019-08-02 11:00:00', 8, 1, None)
(5, '2019-08-02 12:00:00', 8, 1, None)
(6, '2019-08-02 13:00:00', 8, 1, None)
(1, '2019-08-01 08:00:00', 9, 1, None)
(2, '2019-08-01 09:00:00', 9, 1, None)
(3, '2019-08-01 10:00:00', 9, 1, None)
(4, '2019-08-01 11:00:00', 9, 1, None)
(5, '2019-08-01 12:00:00', 9, 1, None)
(6, '2019-08-01 13:00:00', 9, 1, None)
(1, '2019-08-02 08:00:00', 9, 1, None)
(2, '2019-08-02 09:00:00', 9, 1, None)
(3, '2019-08-02 10:00:00', 9, 1, None)
(4, '2019-08-02 11:00:00', 9, 1, None)
(5, '2019-08-02 12:00:00', 9, 1, None)
(6, '2019-08-02 13:00:00', 9, 1, None)
(1, '2019-08-01 08:00:00', 10, 1, None)
(2, '2019-08-01 09:00:00', 10, 1, None)
(3, '2019-08-01 10:00:00', 10, 1, None)
(4, '2019-08-01 11:00:00', 10, 1, None)
(5, '2019-08-01 12:00:00', 10, 1, None)
(6, '2019-08-01 13:00:00', 10, 1, None)
(1, '2019-08-02 08:00:00', 10, 1, None)
(2, '2019-08-02 09:00:00', 10, 1, None)
(3, '2019-08-02 10:00:00', 10, 1, None)
(4, '2019-08-02 11:00:00', 10, 1, None)
(5, '2019-08-02 12:00:00', 10, 1, None)
(6, '2019-08-02 13:00:00', 10, 1, None)
(1, '2019-08-01 08:00:00', 11, 1, None)
(2, '2019-08-01 09:00:00', 11, 1, None)
(3, '2019-08-01 10:00:00', 11, 1, None)
(4, '2019-08-01 11:00:00', 11, 1, None)
(5, '2019-08-01 12:00:00', 11, 1, None)
(6, '2019-08-01 13:00:00', 11, 1, None)
(1, '2019-08-02 08:00:00', 11, 1, None)
(2, '2019-08-02 09:00:00', 11, 1, None)
(3, '2019-08-02 10:00:00', 11, 1, None)
(4, '2019-08-02 11:00:00', 11, 1, None)
(5, '2019-08-02 12:00:00', 11, 1, None)
(6, '2019-08-02 13:00:00', 11, 1, None)
(1, '2019-08-01 08:00:00', 12, 1, None)
(2, '2019-08-01 09:00:00', 12, 1, None)
(3, '2019-08-01 10:00:00', 12, 1, None)
(4, '2019-08-01 11:00:00', 12, 1, None)
(5, '2019-08-01 12:00:00', 12, 1, None)
(6, '2019-08-01 13:00:00', 12, 1, None)
(1, '2019-08-02 08:00:00', 12, 1, None)
(2, '2019-08-02 09:00:00', 12, 1, None)
(3, '2019-08-02 10:00:00', 12, 1, None)
(4, '2019-08-02 11:00:00', 12, 1, None)
(5, '2019-08-02 12:00:00', 12, 1, None)
(6, '2019-08-02 13:00:00', 12, 1, None)
(1, '2019-08-01 08:00:00', 13, 1, None)
(2, '2019-08-01 09:00:00', 13, 1, None)
(3, '2019-08-01 10:00:00', 13, 1, None)
(4, '2019-08-01 11:00:00', 13, 0, 4)
(5, '2019-08-01 12:00:00', 13, 0, 4)
(6, '2019-08-01 13:00:00', 13, 0, 4)
(1, '2019-08-02 08:00:00', 13, 1, None)
(2, '2019-08-02 09:00:00', 13, 1, None)
(3, '2019-08-02 10:00:00', 13, 1, None)
(4, '2019-08-02 11:00:00', 13, 1, None)
(5, '2019-08-02 12:00:00', 13, 1, None)
(6, '2019-08-02 13:00:00', 13, 1, None)
(1, '2019-08-01 08:00:00', 14, 1, None)
(2, '2019-08-01 09:00:00', 14, 1, None)
(3, '2019-08-01 10:00:00', 14, 1, None)
(4, '2019-08-01 11:00:00', 14, 1, None)
(5, '2019-08-01 12:00:00', 14, 1, None)
(6, '2019-08-01 13:00:00', 14, 1, None)
(1, '2019-08-02 08:00:00', 14, 1, None)
(2, '2019-08-02 09:00:00', 14, 1, None)
(3, '2019-08-02 10:00:00', 14, 1, None)
(4, '2019-08-02 11:00:00', 14, 1, None)
(5, '2019-08-02 12:00:00', 14, 1, None)
(6, '2019-08-02 13:00:00', 14, 1, None)

In [25]:

cursor.execute(''' CREATE TABLE if not exists Events(EventID integer PRIMARY KEY, EventCreator text, Venue text, Capacity integer, RemainingSpots integer, Fee_USD integer, Begintime datetime, endtime datetime, Type text, foreign key(eventcreator) references users(email)  )''')

In [26]:
db.commit()

In [29]:
# 2
# User creates a new event (User Email is listed as a Foreign Key under the name EventCreator)
# EventID is selected from the events table
# VenueID is selected from the venue table
# Venue Slot table is updated

def new_event(email,venue,capacity,remaining,fee,begin,end,typ):
    dt2 = '2019-08-01 13:00:00'
    cursor = db.cursor()
    venuei = cursor.execute('''SELECT venueid FROM venue where venuename = ? ''',[venue])
    venueid = venuei.fetchone()[0]
    avail=cursor.execute(''' select availability from venueslots where datetime >= ? and datetime<? AND venueid=?''', (begin,end,venueid))
    flag=0
    for m in avail.fetchall():
        if (m==(0,)): 
            flag=1
    if(flag==0):
        cursor.execute('''Insert into events (EventCreator,venue,capacity,remainingspots, fee_usd,begintime,endtime,type) values (?,?,?,?,?,?,?,?)''',(email,venue,capacity,remaining,fee,begin,end,typ))
        eventi = cursor.execute('''SELECT eventid FROM events ORDER BY eventid DESC LIMIT 1 ''')
        eventid = eventi.fetchone()[0]
        cursor.execute('''update venueslots set availability = 0, eventid = ? where venueid = ? and datetime between ? and ?''',(eventid,venueid,begin,end))
    else:
        print("Not Available")
    db.commit()

In [239]:
new_event('tgoyer@apple.com','Mary Moore Searight Metropolitan Park',10,9,5,'2019-08-02 12:00:00','2019-08-02 13:00:00','football')

In [29]:
cursor.execute(''' CREATE TABLE if not exists Registered(eventid text,userid text, primary key(eventid,userid) foreign key(eventid)references events(eventid),foreign key(userid) references users(email))''')

In [30]:
p=cursor.execute('''select * from events''')
for pp in p:
    print(pp)

(1, 'rutwickbhawsar@gmail.com', 'Hancock Recreation Centre', 10, 7, 5, '2019-08-01 11:00:00', '2019-08-01 13:00:00', 'football')
(3, 'shivangarya@gmail.com', 'Little Walnut Creek Greenbelt', 2, 2, 12, '2019-08-02 09:00:00', '2019-08-01 13:00:00', 'basketball')
(4, 'terhi.hamalainen@apple.fi', 'Mary Moore Searight Metropolitan Park', 15, 2, 0, '2019-08-01 11:00:00', '2019-08-01 13:00:00', 'badminton')
(5, 'terhi.hamalainen@apple.fi', 'Eastwoods Neighborhood Park', 2, 0, 10, '2019-08-02 08:00:00', '2019-08-02 09:00:00', 'badminton')
(7, 'fzimmermann@yahoo.de', 'Pease District Park', 4, 3, 12, '2019-08-01 11:00:00', '2019-08-01 12:00:00', 'football')
(8, 'tmuller@bayern.net', 'Westenfield Neighborhood Park', 10, 9, 0, '2019-08-01 08:00:00', '2019-08-01 11:00:00', 'swimming')

In [7]:
# 3
#Function to register a user for an event
#Check whether there are enough spots
#Insert Event and User into Registered
#Update remaining spots available in the Events table

def user_registration(event,user):
    cursor = db.cursor()
    count = cursor.execute('''select remainingspots from events where eventid = ?''',(event,))
    countone = count.fetchone()[0]
    cc = int(countone)
    if(cc>0):
        cursor.execute('''insert into registered (eventid,userid) values (?,?)''',(event,user))
        cursor.execute('''update events set remainingspots = remainingspots -1 where eventid = ?''',(event,))
    else:
        print('''Sorry Event is full!''')
    db.commit()

In [45]:
user_registration('8','bjorn.hansen@yahoo.no')

In [8]:
# 4
# Function to remove an event only if you're an admin

def remove_event(eventid,email):
    pp = cursor.execute('''select count(*) from Admin where email = ? ''',[email])
    p1=cursor.fetchone()
    if p1 != (0,):
        cursor.execute(''' delete from Events where EventID = ? ''',eventid)
        print("\nYou have deleted the event!")
    else:
        return("You're not an admin!")
    db.commit()

In [52]:
remove_event('6','rutwickbhawsar@gmail.com')

In [9]:
# 5
#Function to show available timeslots for a particular venue

def display_timeslot_available(venue):
    venuei = cursor.execute('''SELECT venueid FROM venue where venuename = ? ''',[venue])
    venueid = venuei.fetchone()[0]
    p1 = cursor.execute('''select datetime from venueslots where venueid= ? AND availability=1 ''',(venueid,))
    for m in p1:
        print(m)
    db.commit()

In [9]:
display_timeslot_available('Zilker Park')

('2019-08-01 08:00:00',)
('2019-08-01 09:00:00',)
('2019-08-01 10:00:00',)
('2019-08-01 11:00:00',)
('2019-08-01 12:00:00',)
('2019-08-01 13:00:00',)
('2019-08-02 08:00:00',)
('2019-08-02 09:00:00',)
('2019-08-02 10:00:00',)
('2019-08-02 11:00:00',)
('2019-08-02 12:00:00',)
('2019-08-02 13:00:00',)

In [10]:
# 6
# Function to show available venues for a particular timeslot

def display_available_venues(dt):
    venuei = cursor.execute('''SELECT venueid FROM venueslots where datetime = ? and availability=1 ''',[dt])
    for m in venuei.fetchall():
        for x in m:
            p1 = cursor.execute('''select venuename from venue where venueid= ? ''',(x,))
            for y in p1:
                print(y)
    db.commit()

In [10]:
display_available_venues('2019-08-01 09:00:00')

('Zilker Park',)
('UT Intramural Fields',)
('Hancock Recreation Centre',)
('Eastwoods Neighborhood Park',)
('Pease District Park',)
('Westenfield Neighborhood Park',)
('Emma Long Metropolitan Park',)
('Stoney Creek Park',)
('Little Walnut Creek Greenbelt',)
('Caven Lacrosse and Sports Center at Clark Field',)
('Waterloo Neighborhood Park',)
('Longview Neighborhood Park',)
('Mary Moore Searight Metropolitan Park',)
('Circle C Ranch Metropolitan Park on Slaughter Creek',)

In [11]:
# 7
# Function to show all events at a particular Venue at a particular datetime

def events_at_venue(venue, datetime):
    p1=cursor.execute(''' select * from events where Venue=? and Begintime=? ''',(format(venue),datetime))
    for m in p1:
        print(m)
    db.commit()

In [12]:
events_at_venue('Hancock Recreation Centre','2019-08-01 11:00:00')

(1, 'rutwickbhawsar@gmail.com', 'Hancock Recreation Centre', 10, 7, 5, '2019-08-01 11:00:00', '2019-08-01 13:00:00', 'football')
(2, 'rutwickbhawsar@gmail.com', 'Hancock Recreation Centre', 10, 10, 5, '2019-08-01 11:00:00', '2019-08-01 13:00:00', 'football')

In [12]:
# 8
# Function to add venue only if you're an admin

def venue_creation(email,venuename,location,zipcode,fees):
    pp = cursor.execute('''select count(*) from Admin where email = ? ''',[email])
    p1=cursor.fetchone()
    if p1 != (0,):
        cursor.execute(''' Insert into Venue (venuename,location,zipcode,fees) values (?,?,?,?)''',(venuename,location,zipcode,fees))
        print("\nVenue Created Sucessfully")
    else:
        return("You're not an admin!")
    db.commit()

In [14]:
venue_creation('asjksd@gmail.com','Boggy Creek Greenbelt','1114 Nile St, Austin, TX',78702,0)

"You're not an admin!"

In [15]:
venue_creation('rutwickbhawsar@gmail.com','Boggy Creek Greenbelt','1114 Nile St, Austin, TX',78702,0)

Venue Created Sucessfully

In [13]:
# 9
# Function to show all events of a particular type

def events_type(etype):
    res = cursor.execute('''Select * from events where type = ? ''',[etype])
    for i in res:
        print(i)

In [17]:
events_type('badminton')

(4, 'terhi.hamalainen@apple.fi', 'Mary Moore Searight Metropolitan Park', 15, 1, 0, '2019-08-01 11:00:00', '2019-08-01 13:00:00', 'badminton')
(5, 'terhi.hamalainen@apple.fi', 'Eastwoods Neighborhood Park', 2, 0, 10, '2019-08-02 08:00:00', '2019-08-02 09:00:00', 'badminton')

In [14]:
# 10
# Functions to show events near a particular zipcode

def events_zipcode(zipcode):
    zipplus=int(zipcode)+10
    zipminus=int(zipcode)-10
    res0 = cursor.execute('''select venuename from venue where zipcode between ? AND ?''',(zipminus,zipplus))
    venueresult = res0.fetchall();
    for m in venueresult:
        strr = m[0]
        res = cursor.execute('''Select * from events where venue = ? ''',[strr])
        for i in res:
            print(i)

In [19]:
events_zipcode('78751')

(1, 'rutwickbhawsar@gmail.com', 'Hancock Recreation Centre', 10, 7, 5, '2019-08-01 11:00:00', '2019-08-01 13:00:00', 'football')
(2, 'rutwickbhawsar@gmail.com', 'Hancock Recreation Centre', 10, 10, 5, '2019-08-01 11:00:00', '2019-08-01 13:00:00', 'football')
(4, 'terhi.hamalainen@apple.fi', 'Mary Moore Searight Metropolitan Park', 15, 1, 0, '2019-08-01 11:00:00', '2019-08-01 13:00:00', 'badminton')

In [15]:
# 11
# Function to show all events at a particular Datetime

def events_at_venue_date(datetime):
    p1=cursor.execute(''' select * from events where Begintime=? ''',[datetime])
    for m in p1:
        print(m)
    db.commit()

In [21]:
events_at_venue_date('2019-08-02 11:00:00')

In [16]:
# 12
# Function to show all the User who have registered for a particular Event (only event creator can see)

def show_registered(email,eventid):
    checkevent = cursor.execute('''select eventcreator from events where eventid = ?''',[eventid])
    creator = checkevent.fetchone()
    strr = creator[0]
    if strr == email: #Checking whether user is the creator of the event
        allregistered = cursor.execute('''select userid from registered where eventid = ?''',[eventid])
        allreg = allregistered.fetchall() 
        for num in allreg:
            useremail = num[0]
            printname = cursor.execute('''select name,sname,phone from users where email = ?''',[useremail])
            for m in printname:
                print(m)
    else:
        return("You're not the event creator, not allowed to view!")
    db.commit()

In [23]:
show_registered('terhi.hamalainen@apple.fi',4)

('Aaron', 'Mitchell', '7551434416')
('Jo?o', 'Fernandes', '2960963270')
('Kara', 'Nielsen', '8160395200')
('Rutwick', 'Bhawsar', '9174121235')

In [17]:
#13 admin deletes user
def delete_user(email,emailu):
    checkadmin = cursor.execute('''select count(*) from Admin where email = ? ''',[email])
    checka=checkadmin.fetchone()
    flag=0
    if (checka != (0,)):
        checkuser = cursor.execute('''select count(*) from Users where email = ? ''',[emailu])
        checka=checkuser.fetchone()
        if (checka != (0,)):
            flag=1
                
        else:
            return("User doesn't exist!")
    if (flag==1):
        #check registered table
        checkreg=cursor.execute(''' select count(*) from registered where userid=? ''',[emailu])
        checkr=checkreg.fetchone()
        if (checkr != (0,)):
            ei=cursor.execute(''' select eventid from registered where userid=? ''',[emailu])
            cursor.execute(''' delete from registered where userid=? ''',[emailu])
            print("\n Deleted User from all Registered Events ")
            eiall=ei.fetchall()
            for m in eiall:
                cursor.execute(''' update events set remainingspots=remainingspots+1 where eventid=? ''',(m,))
                
        #check events table
        checkev=cursor.execute('''select count(*) from events where eventcreator =?''',[emailu])
        checkeve=checkev.fetchone()
        if(checkeve!=(0,)):
            eventi=cursor.execute(''' select eventid from events where eventcreator=? ''',[emailu])
            eventiall=eventi.fetchall()
            for mm in eventiall:
                strr = mm[0]
                strint = int(strr)
                cursor.execute(''' delete from registered where eventid=? ''',[strint])
                cursor.execute(''' update venueslots set availability=1,eventid =null where eventid = ? ''',[strint])
            cursor.execute(''' delete from events where eventcreator=? ''',[emailu])
            print("\n Deleted all Events by User ")
        #delete from users table
        cursor.execute(''' delete from Users where email = ? ''',[emailu])
        print("\n Deleted the User ")
    else:
        return("You're not an admin!")
    
    db.commit()

In [250]:
delete_user('shivangarya@gmail.com','tgoyer@apple.com')

In [18]:
# 14
# User Unregisters from event
def user_unregister(email,eventid):
    checkreg=cursor.execute(''' select count(*) from registered where userid=? ''',[email])
    checkr=checkreg.fetchone()
    if (checkr != (0,)):
            cursor.execute(''' delete from registered where userid=? and eventid =?''',(email,eventid))
            print("\n Unregistered User from the respective event")
            cursor.execute(''' update events set remainingspots=remainingspots+1 where eventid=? ''',[eventid])
    else:
            print("\n Stop unregistering from event which you haven't registered to!")
    db.commit()

In [30]:
user_unregister('jfernandes@yahoo.pt',4)

 Unregistered User from the respective event

In [19]:
# 15
# Functions to show Venues near a particular zipcode

def venues_zipcode(zipcode):
    zipplus=int(zipcode)+10
    zipminus=int(zipcode)-10
    res0 = cursor.execute('''select venuename from venue where zipcode between ? AND ?''',(zipminus,zipplus))
    venueresult = res0.fetchall();
    for m in venueresult:
          print(m)

In [34]:
venues_zipcode(78705)

('Zilker Park',)
('Eastwoods Neighborhood Park',)
('Pease District Park',)
('Westenfield Neighborhood Park',)
('Caven Lacrosse and Sports Center at Clark Field',)
('Waterloo Neighborhood Park',)
('Boggy Creek Greenbelt',)
('Boggy Creek Greenbelt',)
('Boggy Creek Greenbelt',)

In [52]:
while(1):
    a=input(" Press 1 to view database \n Press 2 for functions \n Press 3 for exit\n ")
    if(a=='1'):
        b=input("Which table do you want to view? \n 1. Events \n 2. Venue Slots \n 3. Registered \n 4. Venues \n 5. Users \n 6. Admin\n")
        if(b=='1'):
            p=cursor.execute(''' select * from events''')
            for m in p:
                print(m)
        elif(b=='2'):
            p=cursor.execute(''' select * from venueslots''')
            for m in p:
                print(m)
        elif(b=='3'):
            p=cursor.execute(''' select * from registered''')
            for m in p:
                print(m)
        elif(b=='4'):
            p=cursor.execute(''' select * from venue''')
            for m in p:
                print(m)
        elif(b=='5'):
            p=cursor.execute(''' select * from users''')
            for m in p:
                print(m)
        elif(b=='6'):
            p=cursor.execute(''' select * from admin''')
            for m in p:
                print(m)
        else:
            print("Wrong Choice")
    if(a=='2'):
        b=input("Which function do you want to use? \n 1. Add user \n 2. Create Event \n 3. Register user for event \n 4. Remove event (admin only) \n 5. Show timeslots for a venue \n 6. Show venues for a timeslot\n 7. Show events for a venue at a given date and time\n 8. Add venue (admin only) \n 9. Show events of a particular type \n 10. Show events near a zip code \n 11. Show all events at a particular date&time \n 12. Show all people registered for an event (event creator only)\n 13. Delete user (Admin only) \n 14. Unregister from Event \n 15. Show Venues near a Zipcode \n\n")
        if(b=='1'):
            print("\n");
            E=input("\nEnter email:")
            N=input("\nEnter name:")
            S=input("\nEnter surame:")
            P=input("\nEnter Password (Numbers Only Please):")
            Z=input("\nEnter zipcode:")
            Ph=input("\nEnter Phone:")
            t1=input("\nEnter preferred sport (like gym/badminton/cycling/basketball/football):")
            t2=input("\nEnter second sport preferece (optional):")
            t3=input("\nEnter third sport preferece (optional):")
            new_user(E,N,S,P,Z,Ph,t1,t2,t3)
            print("\n\nUser Created!\n")
        if(b=='2'):
            print("\n")
            E=input("\nEnter Email: ")
            V = input("\nEnter Venue: ")
            C = input("\nEnter Capacity: ")
            R = input("\nEnter Remaining: ")
            F = input("\nEnter Fee (USD): ")    
            Begin = input("\nEnter Start Date Time (YYYY-MM-DD HH:MM:SS): ") 
            End = input("\nEnter End Date Time (YYYY-MM-DD HH:MM:SS): ") 
            T = input("\nEnter Type: ")
            new_event(E,V,C,R,F,Begin,End,T)
            print("\nNew Event Created!")
        if(b=='3'):
            print("\n")
            EID=input("\nEnter EventID: ")
            Email= input("\nEnter Email: ")
            user_registration(EID,Email)
            print("\nYou have now registered for the event!")
        if(b=='4'):
            print("\n")
            EID=input("\nEnter EventID: ")
            Email=input("\nEnter Admin Email: ")
            remove_event(EID,Email)
        if(b=='5'):
            print("\n")
            V = input("\nEnter Venue: ")
            display_timeslot_available(V)
        if(b=='6'):
            print("\n")
            Begin = input("\nEnter Date Time (YYYY-MM-DD HH:MM:SS): ") 
            display_available_venues(Begin)
        if(b=='7'):
            print("\n")
            V = input("\nEnter Venue: ")
            Begin = input("\nEnter Date Time (YYYY-MM-DD HH:MM:SS): ") 
            events_at_venue(V,Begin)
        if(b=='8'):
            print("\n")
            E=input("\nEnter Admin Email: ")
            V = input("\nEnter Venue: ")
            L = input("\nEnter Location: ")
            Z = input("\nEnter Zipcode: ")
            F = input("\nEnter Fee (USD): ")
            venue_creation(E,V,L,Z,F)
        if(b=='9'):
            print("\n")
            E=input("\nEnter Sport: ")
            events_type(E)
        if(b=='10'):
            print("\n")
            E=input("\nEnter Zipcode: ")
            events_zipcode(E)
        if(b=='11'):
            print("\n")
            Begin = input("\nEnter Date Time (YYYY-MM-DD HH:MM:SS): ")
            events_at_venue_date(Begin)
        if(b=='12'):
            print("\n")
            Email=input("\nEnter Creator Email: ")
            EID=input("\nEnter EventID: ")
            show_registered(Email,EID)
        if(b=='13'):
            print("\n")
            E=input("\nEnter Admin Email: ")
            EU=input("\nEnter User Email: ")
            delete_user(E,EU)
        if(b=='14'):
            print("\n")
            E=input("\nEnter User Email: ")
            ED=input("\nEnter EventID: ")
            user_unregister(E,ED)
        if(b=='15'):
            print("\n")
            E=input("\nEnter Zipcode: ")
            venues_zipcode(E)
    if(a=='3'):
        break;

 Press 1 to view database
 Press 2 for functions
 Press 3 for exit
 3

In [53]:
db.commit()

In [54]:
db.close()