# Shivang Arya
# Rutwick Bhawsar
# Project 1

In [1]:
import sqlite3
import pandas as pd
import csv

In [52]:
db=sqlite3.connect("E:/Usr/UT_APAD/Project 1/Advanced-Programming-and-App-Development/Project1.db")

In [3]:
cursor = db.cursor()

In [4]:
cursor.execute(('''    CREATE TABLE Venue(venueid INTEGER PRIMARY KEY, venuename TEXT,
                       location TEXT, zipcode INTEGER, fees INTEGER) '''))

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 69))

OperationalError: table Venue already exists

In [28]:
VN = 'Circle C Ranch Metropolitan Park on Slaughter Creek'
L = '6301 W Slaughter Ln, Austin, TX'
ZC = 78739
Fees = 10

cursor.execute(''' INSERT INTO VENUE (venuename, location, zipcode, fees) VALUES (?,?,?,?)''',(VN,L,ZC,Fees))

In [29]:
cursor.execute('''select * from venue''')
p1 = cursor.fetchall() #retrieve the first row
for m in p1:
    print(m)

(1, 'Zilker Park', ' 2100 Barton Springs Rd, Austin, TX ', 78704, 0)
(2, 'UT Intramural Fields', ' 4901 Guadalupe St, Austin, TX ', 78751, 12)
(3, 'Hancock Recreation Centre', ' 811 E 41st St, Austin, TX ', 78751, 0)
(4, 'Eastwoods Neighborhood Park', ' 3001 Harris Park Ave, Austin, TX ', 78705, 5)
(5, 'Pease District Park', ' 31100 Kingsbury St, Austin, TX  ', 78705, 7)
(6, 'Westenfield Neighborhood Park', ' 2008 Enfield Rd, Austin, TX   ', 78703, 0)
(7, 'Emma Long Metropolitan Park', ' 1600 City Park Rd, Austin, TX  ', 78730, 20)
(8, 'Stoney Creek Park', 'Sebastian Bend, Pflugerville, TX', 78660, 0)
(9, 'Little Walnut Creek Greenbelt', '5100 E 51st St, Austin, TX ', 78723, 12)
(10, 'Caven Lacrosse and Sports Center at Clark Field', '1910 San Jacinto Boulevard, Austin, TX', 78712, 0)
(11, 'Waterloo Neighborhood Park', '500 E 12th St, Austin, TX', 78701, 5)
(12, 'Longview Neighborhood Park', '7609 Longview Rd, Austin, TX', 78745, 2)
(13, 'Mary Moore Searight Metropolitan Park', '907 West Slaughter Lane, Austin, TX', 78748, 2)
(14, 'Circle C Ranch Metropolitan Park on Slaughter Creek', '6301 W Slaughter Ln, Austin, TX', 78739, 10)

In [32]:
cursor.execute(('''    CREATE TABLE Users(email text PRIMARY KEY, name TEXT, sname TEXT, password integer,
                       zipcode INTEGER, phone TEXT, etype1 text, etype2 text default null , etype3 text default null) '''))

In [34]:
db.commit()

In [36]:
cursor.execute(''' CREATE TABLE Admin(name text, email text, FOREIGN KEY(email) REFERENCES users(email))''')

In [34]:
e = 'rutwickbhawsar@gmail.com'
n = 'Rutwick'
s = 'Bhawsar'
p = 7612
zipcode = 78705
pho = 9174121235
etpe= 'football'
ett = 'basketball'
ettt = 'tennis'



cursor.execute('''Insert into Users (email,name,sname,password,zipcode,phone,etype1,etype2,etype3) values (?,?,?,?,?,?,?,?,?)''',(e,n,s,p,zipcode,pho,etpe,ett,ettt))

IntegrityError: UNIQUE constraint failed: Users.email

In [55]:
with open('C:/Users/aryas_000/Downloads/Users.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    for row in readCSV:
        pi = int(row[3])
        zp = int(row[4]) 
        ph = int(row[5]) 
        cursor.execute("INSERT or REPLACE INTO Users (email,name,sname,password,zipcode,phone,etype1,etype2,etype3) VALUES (?,?,?,?,?,?,?,?,?)", [row[0],row[1],row[2],pi,zp,ph,row[6],row[7],row[8]])

In [ ]:
db.commit()

In [56]:
cursor.execute('''select * from users''')
p1 = cursor.fetchall() #retrieve the first row
for m in p1:
    print(m)

('shivangarya@gmail.com', 'Shivang', 'Arya', 1210, 78710, '-1534', 'football', 'tennis', 'badminton')
('rutwickbhawsar@gmail.com', 'Rutwick', 'Bhawsar', 7612, 78705, '-730', 'football', 'basketball', 'tennis')
('luisg@embraer.com.br', 'Lu¡s', 'Gon‡alves', 4564, 78794, '3932638841', 'Football', 'Badminton', 'Baseball')
('leonekohler@surfeu.de', 'Leonie', 'K”hler', 4217, 78728, '2595995925', 'Hockey', 'Skateboarding', 'Running')
('ftremblay@gmail.com', 'Fran‡ois', 'Tremblay', 4311, 78740, '8562383794', 'Rugby', 'Running', 'Baseball')
('bjorn.hansen@yahoo.no', 'Bj?rn', 'Hansen', 5231, 78721, '6896848029', 'Kayaking', 'Basketball', 'Rugby')
('frantisekw@jetbrains.com', 'Franti?ek', 'Wichterlov\xa0', 9261, 78733, '4615969574', 'Hockey', 'Football', 'Football')
('hholy@gmail.com', 'Helena', 'Hol?', 4311, 78755, '5125491222', 'Rugby', 'Cycling', 'Swimming')
('astrid.gruber@apple.at', 'Astrid', 'Gruber', 9670, 78776, '7871257717', 'Baseball', 'Volleyball', 'Kayaking')
('daan_peeters@apple.be', 'Daan', 'Peeters', 7194, 78764, '6753205279', 'Climbing', 'Tennis', 'Football')
('kara.nielsen@jubii.dk', 'Kara', 'Nielsen', 2445, 78770, '8160395200', 'Volleyball', 'Cycling', 'Basketball')
('eduardo@woodstock.com.br', 'Eduardo', 'Martins', 5995, 78792, '7755094765', 'Climbing', 'Basketball', 'Football')
('alero@uol.com.br', 'Alexandre', 'Rocha', 8021, 78714, '1650616699', 'Climbing', 'Tennis', 'Skateboarding')
('roberto.almeida@riotur.gov.br', 'Roberto', 'Almeida', 5015, 78709, '9090050881', 'Running', 'Basketball', 'Kayaking')
('fernadaramos4@uol.com.br', 'Fernanda', 'Ramos', 8273, 78786, '2994608290', 'Volleyball', 'Hockey', 'Climbing')
('mphilips12@shaw.ca', 'Mark', 'Philips', 7603, 78711, '1594797734', 'Rugby', 'Football', 'Kayaking')
('jenniferp@rogers.ca', 'Jennifer', 'Peterson', 5156, 78798, '7979577695', 'Hockey', 'Kayaking', 'Running')
('fharris@google.com', 'Frank', 'Harris', 4764, 78765, '8640059952', 'Running', 'Gym', 'Cycling')
('jacksmith@microsoft.com', 'Jack', 'Smith', 7170, 78701, '3828010298', 'Basketball', 'Tennis', 'Gym')
('michelleb@aol.com', 'Michelle', 'Brooks', 7450, 78790, '2018557287', 'Badminton', 'Volleyball', 'Kayaking')
('tgoyer@apple.com', 'Tim', 'Goyer', 6739, 78705, '8240958758', 'Volleyball', 'Hockey', 'Cycling')
('dmiller@comcast.com', 'Dan', 'Miller', 8872, 78779, '8245505363', 'Football', 'Rugby', 'Tennis')
('kachase@hotmail.com', 'Kathy', 'Chase', 5158, 78776, '1118183300', 'Swimming', 'Baseball', 'Volleyball')
('hleacock@gmail.com', 'Heather', 'Leacock', 1948, 78792, '4147811296', 'Baseball', 'Kayaking', 'Football')
('johngordon22@yahoo.com', 'John', 'Gordon', 5345, 78721, '1135420565', 'Swimming', 'Hockey', 'Gym')
('fralston@gmail.com', 'Frank', 'Ralston', 2800, 78723, '6213838935', 'Basketball', 'Volleyball', 'Skateboarding')
('vstevens@yahoo.com', 'Victor', 'Stevens', 5422, 78759, '7780542508', 'Running', 'Hockey', 'Baseball')
('ricunningham@hotmail.com', 'Richard', 'Cunningham', 1898, 78799, '2662287069', 'Football', 'Kayaking', 'Gym')
('patrick.gray@aol.com', 'Patrick', 'Gray', 3354, 78732, '1563951033', 'Hockey', 'Gym', 'Volleyball')
('jubarnett@gmail.com', 'Julia', 'Barnett', 1209, 78716, '5448547797', 'Badminton', 'Swimming', 'Running')
('robbrown@shaw.ca', 'Robert', 'Brown', 2044, 78741, '8463648558', 'Baseball', 'Volleyball', 'Badminton')
('edfrancis@yachoo.ca', 'Edward', 'Francis', 2913, 78759, '8340478419', 'Tennis', 'Rugby', 'Hockey')
('marthasilk@gmail.com', 'Martha', 'Silk', 7383, 78731, '8107710781', 'Hockey', 'Tennis', 'Badminton')
('aaronmitchell@yahoo.ca', 'Aaron', 'Mitchell', 5493, 78785, '7551434416', 'Badminton', 'Football', 'Gym')
('ellie.sullivan@shaw.ca', 'Ellie', 'Sullivan', 5017, 78716, '9060922108', 'Volleyball', 'Climbing', 'Football')
('jfernandes@yahoo.pt', 'Jo?o', 'Fernandes', 8562, 78729, '2960963270', 'Tennis', 'Gym', 'Skateboarding')
('masampaio@sapo.pt', 'Madalena', 'Sampaio', 5683, 78707, '4630765478', 'Baseball', 'Running', 'Climbing')
('hannah.schneider@yahoo.de', 'Hannah', 'Schneider', 8916, 78757, '4755658475', 'Kayaking', 'Hockey', 'Badminton')
('fzimmermann@yahoo.de', 'Fynn', 'Zimmermann', 6421, 78706, '1719282247', 'Basketball', 'Rugby', 'Gym')
('nschroder@surfeu.de', 'Niklas', 'Schr”der', 3027, 78799, '7384186553', 'Basketball', 'Basketball', 'Football')
('camille.bernard@yahoo.fr', 'Camille', 'Bernard', 8535, 78712, '9872450551', 'Swimming', 'Gym', 'Badminton')
('dominiquelefebvre@gmail.com', 'Dominique', 'Lefebvre', 1278, 78754, '3062244031', 'Volleyball', 'Badminton', 'Gym')
('marc.dubois@hotmail.com', 'Marc', 'Dubois', 4772, 78782, '4908693572', 'Rugby', 'Badminton', 'Volleyball')
('wyatt.girard@yahoo.fr', 'Wyatt', 'Girard', 1325, 78755, '6520760365', 'Volleyball', 'Running', 'Rugby')
('isabelle_mercier@apple.fr', 'Isabelle', 'Mercier', 3458, 78719, '8878378517', 'Kayaking', 'Football', 'Running')
('terhi.hamalainen@apple.fi', 'Terhi', 'H„m„l„inen', 4155, 78776, '3412792186', 'Badminton', 'Baseball', 'Basketball')
('ladislav_kovacs@apple.hu', 'Ladislav', 'Kov\xa0cs', 1690, 78764, '6628859745', 'Skateboarding', 'Running', 'Hockey')
('hughoreilly@apple.ie', 'Hugh', "O'Reilly", 8808, 78793, '4061951562', 'Skateboarding', 'Basketball', 'Volleyball')
('lucas.mancini@yahoo.it', 'Lucas', 'Mancini', 4379, 78700, '2587152247', 'Basketball', 'Basketball', 'Baseball')
('johavanderberg@yahoo.nl', 'Johannes', 'Van der Berg', 5141, 78759, '2536930185', 'Rugby', 'Gym', 'Baseball')
('stanis?aw.w¢jcik@wp.pl', 'Stanis?aw', 'W¢jcik', 2475, 78790, '8014770483', 'Basketball', 'Climbing', 'Baseball')
('enrique_munoz@yahoo.es', 'Enrique', 'Mu¤oz', 1176, 78732, '6021833914', 'Running', 'Badminton', 'Cycling')
('joakim.johansson@yahoo.se', 'Joakim', 'Johansson', 7817, 78719, '6701138458', 'Badminton', 'Running', 'Football')
('emma_jones@hotmail.com', 'Emma', 'Jones', 3459, 78759, '4212911072', 'Baseball', 'Running', 'Rugby')
('phil.hughes@gmail.com', 'Phil', 'Hughes', 7819, 78782, '6973307290', 'Badminton', 'Kayaking', 'Hockey')
('steve.murray@yahoo.uk', 'Steve', 'Murray', 8282, 78770, '3172088577', 'Kayaking', 'Badminton', 'Rugby')
('mark.taylor@yahoo.au', 'Mark', 'Taylor', 6391, 78745, '8234622007', 'Gym', 'Swimming', 'Basketball')
('diego.gutierrez@yahoo.ar', 'Diego', 'Guti‚rrez', 5724, 78721, '2343371575', 'Swimming', 'Climbing', 'Cycling')
('luisrojas@yahoo.cl', 'Luis', 'Rojas', 4673, 78777, '3689273108', 'Kayaking', 'Rugby', 'Hockey')
('manoj.pareek@rediff.com', 'Manoj', 'Pareek', 5806, 78797, '8836746727', 'Kayaking', 'Skateboarding', 'Basketball')
('puja_srivastava@yahoo.in', 'Puja', 'Srivastava', 1668, 78776, '5736045704', 'Climbing', 'Basketball', 'Football')

In [49]:
na = 'Rutwick Bhawsar'
em = 'rutwickbhawsar@gmail.com'
cursor.execute('''Insert into Admin (name,email) values (?,?)''',(na,em))

In [60]:
cursor.execute('''select * from venue''')
p1 = cursor.fetchall() #retrieve the first row
for m in p1:
    print(m)

(1, 'Zilker Park', ' 2100 Barton Springs Rd, Austin, TX ', 78704, 0)
(2, 'UT Intramural Fields', ' 4901 Guadalupe St, Austin, TX ', 78751, 12)
(3, 'Hancock Recreation Centre', ' 811 E 41st St, Austin, TX ', 78751, 0)
(4, 'Eastwoods Neighborhood Park', ' 3001 Harris Park Ave, Austin, TX ', 78705, 5)
(5, 'Pease District Park', ' 31100 Kingsbury St, Austin, TX  ', 78705, 7)
(6, 'Westenfield Neighborhood Park', ' 2008 Enfield Rd, Austin, TX   ', 78703, 0)
(7, 'Emma Long Metropolitan Park', ' 1600 City Park Rd, Austin, TX  ', 78730, 20)
(8, 'Stoney Creek Park', 'Sebastian Bend, Pflugerville, TX', 78660, 0)
(9, 'Little Walnut Creek Greenbelt', '5100 E 51st St, Austin, TX ', 78723, 12)
(10, 'Caven Lacrosse and Sports Center at Clark Field', '1910 San Jacinto Boulevard, Austin, TX', 78712, 0)
(11, 'Waterloo Neighborhood Park', '500 E 12th St, Austin, TX', 78701, 5)
(12, 'Longview Neighborhood Park', '7609 Longview Rd, Austin, TX', 78745, 2)
(13, 'Mary Moore Searight Metropolitan Park', '907 West Slaughter Lane, Austin, TX', 78748, 2)
(14, 'Circle C Ranch Metropolitan Park on Slaughter Creek', '6301 W Slaughter Ln, Austin, TX', 78739, 10)

In [51]:
db.commit()

In [64]:

cursor.execute(''' CREATE TABLE Events(EventID integer PRIMARY KEY, Event Creator text, Venue text, Capacity integer, RemainingSpots integer, Fee_USD integer, Duration_hrs integer, DateTime date, Type text    )''')

OperationalError: table Events already exists

In [68]:
cursor.execute(''' INSERT INTO Events VALUES (?,?,?,?,?,?,?,?,?)''',(1, "Rutwick", "Zilker Park", 100, 42, 5, 3, 7/30/19, "football" ))

In [70]:
cursor.execute(''' INSERT INTO Events VALUES (?,?,?,?,?,?,?,?,?)''',(2, "Shivang", "UT Intramural Fields", 22, 7, 0, 3, 7/31/19, "football" ))

In [69]:
db.commit()

In [61]:
#Function to add a new user

def new_user(email,name,sname,password,zipcode,phone,etype1,etype2="",etype3=""):
    db=sqlite3.connect("E:/Usr/UT_APAD/Project 1/Advanced-Programming-and-App-Development/Project1.db")
    cursor = db.cursor()
    cursor.execute('''Insert into Users (email,name,sname,password,zipcode,phone,etype1,etype2,etype3) values (?,?,?,?,?,?,?,?,?)''',(email,name,sname,password,zipcode,phone,etype1,etype2,etype3))
    db.commit()

In [62]:
new_user("tmuller@bayern.net","Thomas","Muelles",4124,78710,9013331123,"football","Cricket","Basketball")

OperationalError: database is locked

In [22]:
cursor.execute(('''    CREATE TABLE VenueSlots(datetime datetime, venueid INTEGER, availability INTEGER, eventid INTEGER default null, primary key (datetime,venueid),foreign key(eventid) references events(eventid),foreign key(venueid) references venue(venueid))'''))

In [7]:
p1 = cursor.execute('''select * from venue''')
for m in p1:
    print(m)

(1, 'Zilker Park', ' 2100 Barton Springs Rd, Austin, TX ', 78704, 0)
(2, 'UT Intramural Fields', ' 4901 Guadalupe St, Austin, TX ', 78751, 12)
(3, 'Hancock Recreation Centre', ' 811 E 41st St, Austin, TX ', 78751, 0)
(4, 'Eastwoods Neighborhood Park', ' 3001 Harris Park Ave, Austin, TX ', 78705, 5)
(5, 'Pease District Park', ' 31100 Kingsbury St, Austin, TX  ', 78705, 7)
(6, 'Westenfield Neighborhood Park', ' 2008 Enfield Rd, Austin, TX   ', 78703, 0)
(7, 'Emma Long Metropolitan Park', ' 1600 City Park Rd, Austin, TX  ', 78730, 20)
(8, 'Stoney Creek Park', 'Sebastian Bend, Pflugerville, TX', 78660, 0)
(9, 'Little Walnut Creek Greenbelt', '5100 E 51st St, Austin, TX ', 78723, 12)
(10, 'Caven Lacrosse and Sports Center at Clark Field', '1910 San Jacinto Boulevard, Austin, TX', 78712, 0)
(11, 'Waterloo Neighborhood Park', '500 E 12th St, Austin, TX', 78701, 5)
(12, 'Longview Neighborhood Park', '7609 Longview Rd, Austin, TX', 78745, 2)
(13, 'Mary Moore Searight Metropolitan Park', '907 West Slaughter Lane, Austin, TX', 78748, 2)
(14, 'Circle C Ranch Metropolitan Park on Slaughter Creek', '6301 W Slaughter Ln, Austin, TX', 78739, 10)

In [27]:
from datetime import datetime

with open('E:/Usr/UT_APAD/projecttable.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    for row in readCSV:
        zp = int(row[1])
        ph = int(row[2])
        cursor.execute("INSERT or REPLACE INTO venueslots (datetime,venueid,availability) VALUES (?,?,?)", [row[0],zp,ph])

In [60]:
pp = cursor.execute('''select * from venueslots''')
for m in pp:
    print(m)

('2019-08-01 08:00:00', 1, 1, None)
('2019-08-01 09:00:00', 1, 1, None)
('2019-08-01 10:00:00', 1, 1, None)
('2019-08-01 11:00:00', 1, 1, None)
('2019-08-01 12:00:00', 1, 1, None)
('2019-08-01 13:00:00', 1, 1, None)
('2019-08-02 08:00:00', 1, 1, None)
('2019-08-02 09:00:00', 1, 1, None)
('2019-08-02 10:00:00', 1, 1, None)
('2019-08-02 11:00:00', 1, 1, None)
('2019-08-02 12:00:00', 1, 1, None)
('2019-08-02 13:00:00', 1, 1, None)
('2019-08-01 08:00:00', 2, 1, None)
('2019-08-01 09:00:00', 2, 1, None)
('2019-08-01 10:00:00', 2, 1, None)
('2019-08-01 11:00:00', 2, 1, None)
('2019-08-01 12:00:00', 2, 1, None)
('2019-08-01 13:00:00', 2, 1, None)
('2019-08-02 08:00:00', 2, 1, None)
('2019-08-02 09:00:00', 2, 1, None)
('2019-08-02 10:00:00', 2, 1, None)
('2019-08-02 11:00:00', 2, 1, None)
('2019-08-02 12:00:00', 2, 1, None)
('2019-08-02 13:00:00', 2, 1, None)
('2019-08-01 08:00:00', 3, 1, None)
('2019-08-01 09:00:00', 3, 1, None)
('2019-08-01 10:00:00', 3, 1, None)
('2019-08-01 11:00:00', 3, 1, None)
('2019-08-01 12:00:00', 3, 1, None)
('2019-08-01 13:00:00', 3, 1, None)
('2019-08-02 08:00:00', 3, 1, None)
('2019-08-02 09:00:00', 3, 1, None)
('2019-08-02 10:00:00', 3, 1, None)
('2019-08-02 11:00:00', 3, 1, None)
('2019-08-02 12:00:00', 3, 1, None)
('2019-08-02 13:00:00', 3, 1, None)
('2019-08-01 08:00:00', 4, 1, None)
('2019-08-01 09:00:00', 4, 1, None)
('2019-08-01 10:00:00', 4, 1, None)
('2019-08-01 11:00:00', 4, 1, None)
('2019-08-01 12:00:00', 4, 1, None)
('2019-08-01 13:00:00', 4, 1, None)
('2019-08-02 08:00:00', 4, 1, None)
('2019-08-02 09:00:00', 4, 1, None)
('2019-08-02 10:00:00', 4, 1, None)
('2019-08-02 11:00:00', 4, 1, None)
('2019-08-02 12:00:00', 4, 1, None)
('2019-08-02 13:00:00', 4, 1, None)
('2019-08-01 08:00:00', 5, 1, None)
('2019-08-01 09:00:00', 5, 1, None)
('2019-08-01 10:00:00', 5, 1, None)
('2019-08-01 11:00:00', 5, 1, None)
('2019-08-01 12:00:00', 5, 1, None)
('2019-08-01 13:00:00', 5, 1, None)
('2019-08-02 08:00:00', 5, 1, None)
('2019-08-02 09:00:00', 5, 1, None)
('2019-08-02 10:00:00', 5, 1, None)
('2019-08-02 11:00:00', 5, 1, None)
('2019-08-02 12:00:00', 5, 1, None)
('2019-08-02 13:00:00', 5, 1, None)
('2019-08-01 08:00:00', 6, 1, None)
('2019-08-01 09:00:00', 6, 1, None)
('2019-08-01 10:00:00', 6, 1, None)
('2019-08-01 11:00:00', 6, 1, None)
('2019-08-01 12:00:00', 6, 1, None)
('2019-08-01 13:00:00', 6, 1, None)
('2019-08-02 08:00:00', 6, 1, None)
('2019-08-02 09:00:00', 6, 1, None)
('2019-08-02 10:00:00', 6, 1, None)
('2019-08-02 11:00:00', 6, 1, None)
('2019-08-02 12:00:00', 6, 1, None)
('2019-08-02 13:00:00', 6, 1, None)
('2019-08-01 08:00:00', 7, 1, None)
('2019-08-01 09:00:00', 7, 1, None)
('2019-08-01 10:00:00', 7, 1, None)
('2019-08-01 11:00:00', 7, 1, None)
('2019-08-01 12:00:00', 7, 1, None)
('2019-08-01 13:00:00', 7, 1, None)
('2019-08-02 08:00:00', 7, 1, None)
('2019-08-02 09:00:00', 7, 1, None)
('2019-08-02 10:00:00', 7, 1, None)
('2019-08-02 11:00:00', 7, 1, None)
('2019-08-02 12:00:00', 7, 1, None)
('2019-08-02 13:00:00', 7, 1, None)
('2019-08-01 08:00:00', 8, 1, None)
('2019-08-01 09:00:00', 8, 1, None)
('2019-08-01 10:00:00', 8, 1, None)
('2019-08-01 11:00:00', 8, 1, None)
('2019-08-01 12:00:00', 8, 1, None)
('2019-08-01 13:00:00', 8, 1, None)
('2019-08-02 08:00:00', 8, 1, None)
('2019-08-02 09:00:00', 8, 1, None)
('2019-08-02 10:00:00', 8, 1, None)
('2019-08-02 11:00:00', 8, 1, None)
('2019-08-02 12:00:00', 8, 1, None)
('2019-08-02 13:00:00', 8, 1, None)
('2019-08-01 08:00:00', 9, 1, None)
('2019-08-01 09:00:00', 9, 1, None)
('2019-08-01 10:00:00', 9, 1, None)
('2019-08-01 11:00:00', 9, 1, None)
('2019-08-01 12:00:00', 9, 1, None)
('2019-08-01 13:00:00', 9, 1, None)
('2019-08-02 08:00:00', 9, 1, None)
('2019-08-02 09:00:00', 9, 1, None)
('2019-08-02 10:00:00', 9, 1, None)
('2019-08-02 11:00:00', 9, 1, None)
('2019-08-02 12:00:00', 9, 1, None)
('2019-08-02 13:00:00', 9, 1, None)
('2019-08-01 08:00:00', 10, 1, None)
('2019-08-01 09:00:00', 10, 1, None)
('2019-08-01 10:00:00', 10, 1, None)
('2019-08-01 11:00:00', 10, 1, None)
('2019-08-01 12:00:00', 10, 1, None)
('2019-08-01 13:00:00', 10, 1, None)
('2019-08-02 08:00:00', 10, 1, None)
('2019-08-02 09:00:00', 10, 1, None)
('2019-08-02 10:00:00', 10, 1, None)
('2019-08-02 11:00:00', 10, 1, None)
('2019-08-02 12:00:00', 10, 1, None)
('2019-08-02 13:00:00', 10, 1, None)
('2019-08-01 08:00:00', 11, 1, None)
('2019-08-01 09:00:00', 11, 1, None)
('2019-08-01 10:00:00', 11, 1, None)
('2019-08-01 11:00:00', 11, 1, None)
('2019-08-01 12:00:00', 11, 1, None)
('2019-08-01 13:00:00', 11, 1, None)
('2019-08-02 08:00:00', 11, 1, None)
('2019-08-02 09:00:00', 11, 1, None)
('2019-08-02 10:00:00', 11, 1, None)
('2019-08-02 11:00:00', 11, 1, None)
('2019-08-02 12:00:00', 11, 1, None)
('2019-08-02 13:00:00', 11, 1, None)
('2019-08-01 08:00:00', 12, 1, None)
('2019-08-01 09:00:00', 12, 1, None)
('2019-08-01 10:00:00', 12, 1, None)
('2019-08-01 11:00:00', 12, 1, None)
('2019-08-01 12:00:00', 12, 1, None)
('2019-08-01 13:00:00', 12, 1, None)
('2019-08-02 08:00:00', 12, 1, None)
('2019-08-02 09:00:00', 12, 1, None)
('2019-08-02 10:00:00', 12, 1, None)
('2019-08-02 11:00:00', 12, 1, None)
('2019-08-02 12:00:00', 12, 1, None)
('2019-08-02 13:00:00', 12, 1, None)
('2019-08-01 08:00:00', 13, 1, None)
('2019-08-01 09:00:00', 13, 1, None)
('2019-08-01 10:00:00', 13, 1, None)
('2019-08-01 11:00:00', 13, 1, None)
('2019-08-01 12:00:00', 13, 1, None)
('2019-08-01 13:00:00', 13, 1, None)
('2019-08-02 08:00:00', 13, 1, None)
('2019-08-02 09:00:00', 13, 1, None)
('2019-08-02 10:00:00', 13, 1, None)
('2019-08-02 11:00:00', 13, 1, None)
('2019-08-02 12:00:00', 13, 1, None)
('2019-08-02 13:00:00', 13, 1, None)
('2019-08-01 08:00:00', 14, 1, None)
('2019-08-01 09:00:00', 14, 1, None)
('2019-08-01 10:00:00', 14, 1, None)
('2019-08-01 11:00:00', 14, 1, None)
('2019-08-01 12:00:00', 14, 1, None)
('2019-08-01 13:00:00', 14, 1, None)
('2019-08-02 08:00:00', 14, 1, None)
('2019-08-02 09:00:00', 14, 1, None)
('2019-08-02 10:00:00', 14, 1, None)
('2019-08-02 11:00:00', 14, 1, None)
('2019-08-02 12:00:00', 14, 1, None)
('2019-08-02 13:00:00', 14, 1, None)

In [38]:

cursor.execute(''' CREATE TABLE Events(EventID integer PRIMARY KEY, EventCreator text, Venue text, Capacity integer, RemainingSpots integer, Fee_USD integer, Duration_hrs integer, DateTime datetime, Type text, foreign key(eventcreator) references users(email)  )''')

OperationalError: table Events already exists

In [59]:
db.commit()

In [57]:
# User creates a new event
# EventID is selected from the events table
# VenueID is selected from the venue table
# Venue Slot table is updated

def new_event(email,venue,capacity,remaining,fee,duration,datetime,typ):
    db=sqlite3.connect("E:/Usr/UT_APAD/Project 1/Advanced-Programming-and-App-Development/Project1.db")
    cursor = db.cursor()
    cursor.execute('''Insert into events (EventCreator,venue,capacity,remainingspots, fee_usd,duration_hrs,datetime,type) values (?,?,?,?,?,?,?,?)''',(email,venue,capacity,remaining,fee,duration,datetime,typ))
    eventid = cursor.execute('''SELECT eventid FROM events ORDER BY eventid DESC LIMIT 1 ''')
    venueid = cursor.execute('''SELECT venueid FROM venue where venuename = ? ''',venue)
    cursor.execute('''update venueslots set availability = 0 eventid = ? where venueid = ? and datetime between ? and DATETIME(?,'+? hours')''',(eventid,venueid,datetime,datetime,duration))
    db.commit()

In [58]:
new_event('rutwickbhawsar@gmail.com','Zilker Park',10,10,5,3,'2019-08-02 10:00:00','football')

OperationalError: database is locked

In [63]:
cursor.execute(''' CREATE TABLE Registered(eventid text,userid text, foreign key(eventid)references events(eventid),foreign key(userid) references users(email))''')

OperationalError: database is locked

In [64]:
db.commit()