# Shivang Arya
# Rutwick Bhawsar
# Project 1

In [1]:
import sqlite3

In [7]:
db=sqlite3.connect("E:/Usr/UT_APAD/Project 1/Advanced-Programming-and-App-Development/Project1.db")

In [8]:
cursor = db.cursor()

In [9]:
cursor.execute(('''    CREATE TABLE Venue(venueid INTEGER PRIMARY KEY, venuename TEXT,
                       location TEXT, zipcode INTEGER, fees INTEGER) '''))

In [28]:
VN = 'Circle C Ranch Metropolitan Park on Slaughter Creek'
L = '6301 W Slaughter Ln, Austin, TX'
ZC = 78739
Fees = 10

cursor.execute(''' INSERT INTO VENUE (venuename, location, zipcode, fees) VALUES (?,?,?,?)''',(VN,L,ZC,Fees))

In [29]:
cursor.execute('''select * from venue''')
p1 = cursor.fetchall() #retrieve the first row
for m in p1:
    print(m)

(1, 'Zilker Park', ' 2100 Barton Springs Rd, Austin, TX ', 78704, 0)
(2, 'UT Intramural Fields', ' 4901 Guadalupe St, Austin, TX ', 78751, 12)
(3, 'Hancock Recreation Centre', ' 811 E 41st St, Austin, TX ', 78751, 0)
(4, 'Eastwoods Neighborhood Park', ' 3001 Harris Park Ave, Austin, TX ', 78705, 5)
(5, 'Pease District Park', ' 31100 Kingsbury St, Austin, TX  ', 78705, 7)
(6, 'Westenfield Neighborhood Park', ' 2008 Enfield Rd, Austin, TX   ', 78703, 0)
(7, 'Emma Long Metropolitan Park', ' 1600 City Park Rd, Austin, TX  ', 78730, 20)
(8, 'Stoney Creek Park', 'Sebastian Bend, Pflugerville, TX', 78660, 0)
(9, 'Little Walnut Creek Greenbelt', '5100 E 51st St, Austin, TX ', 78723, 12)
(10, 'Caven Lacrosse and Sports Center at Clark Field', '1910 San Jacinto Boulevard, Austin, TX', 78712, 0)
(11, 'Waterloo Neighborhood Park', '500 E 12th St, Austin, TX', 78701, 5)
(12, 'Longview Neighborhood Park', '7609 Longview Rd, Austin, TX', 78745, 2)
(13, 'Mary Moore Searight Metropolitan Park', '907 West Slaughter Lane, Austin, TX', 78748, 2)
(14, 'Circle C Ranch Metropolitan Park on Slaughter Creek', '6301 W Slaughter Ln, Austin, TX', 78739, 10)

In [32]:
cursor.execute(('''    CREATE TABLE Users(email text PRIMARY KEY, name TEXT, sname TEXT, password integer,
                       zipcode INTEGER, phone TEXT, etype1 text, etype2 text default null , etype3 text default null) '''))

In [34]:
db.commit()

In [36]:
cursor.execute(''' CREATE TABLE Admin(name text, email text, FOREIGN KEY(email) REFERENCES users(email))''')

In [41]:
e = 'rutwickbhawsar@gmail.com'
n = 'Rutwick'
s = 'Bhawsar'
p = 7612
zipcode = 78705
pho = 917-412-1235
etpe= 'football'
ett = 'basketball'
ettt = 'tennis'



cursor.execute('''Insert into Users (email,name,sname,password,zipcode,phone,etype1,etype2,etype3) values (?,?,?,?,?,?,?,?,?)''',(e,n,s,p,zipcode,pho,etpe,ett,ettt))

In [44]:
db.commit()

In [46]:
cursor.execute('''select * from users''')
p1 = cursor.fetchall() #retrieve the first row
for m in p1:
    print(m)

('shivangarya@gmail.com', 'Shivang', 'Arya', 1210, 78710, '-1534', 'football', 'tennis', 'badminton')
('rutwickbhawsar@gmail.com', 'Rutwick', 'Bhawsar', 7612, 78705, '-730', 'football', 'basketball', 'tennis')

In [49]:
na = 'Rutwick Bhawsar'
em = 'rutwickbhawsar@gmail.com'
cursor.execute('''Insert into Admin (name,email) values (?,?)''',(na,em))

In [50]:
cursor.execute('''select * from admin''')
p1 = cursor.fetchall() #retrieve the first row
for m in p1:
    print(m)

('Shivang Arya', 'shivangarya@gmail.com')
('Rutwick Bhawsar', 'rutwickbhawsar@gmail.com')

In [51]:
db.commit()